version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: todo_postgres
    restart: always
    environment:
      POSTGRES_DB: ms_todo_app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: todo_backend
    restart: always
    env_file:
      - ./backend/.env
    environment:
      - CHOKIDAR_USEPOLLING=1
    depends_on:
      - postgres
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev

  frontend:
    build: ./frontend
    container_name: todo_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=1
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host --port 5173

volumes:
  pgdata:
